@{
    ViewData["Title"] = "Home";
}

<Body background="https://www.grunge.com/img/gallery/the-bizarre-history-of-the-eiffel-tower/l-intro-1602781703.jpg">   
    <div class="text-center">
        <h1 class="text-white display-4"><strong>Welcome</strong></h1>
        <h2 class="text-white display-4"><strong>Tourist Agency</strong></h2>
        <h4 class="text-white">In this application you have access for application tables</h4>
        <h4 class="text-white">We have 3 tables, where: Customers, Tours and Agencies</h4>
        <h4 class="text-white">You can go to any page from menu, and get info from tables, or create new one</h4>
        <h4 class="text-white">If you need, available to update or delete</h4>
    </div>
</Body>
